@import "tailwindcss";
*{
  font: Manrope, sans-serif;
}

.root{
  background-color: #F9F9F9;
}
.active_page {
  position: relative;
    color: white;
    font-weight: 600;
}

.active_page .underline {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 6px;
  background-color: white;
  border-radius: 999px;
}