@import "tailwindcss";
*{
  font-family: 'Manrope', sans-serif;
}

.root{
  background-color: #F9F9F9;
}
.active_page {
  position: relative;
    color: white;
    font-weight: 600;
}

.active_page .underline {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 6px;
  background-color: white;
  border-radius: 999px;
}

/* Hide scrollbar for webkit browsers */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.pop_up::before {
  content: '';
  display: block;
  position: absolute;
  top: -20px;

  width: 118px;
  height: 8px;
  margin: 0px; /* center & space below */
  background-color:#D9D9D9; /* adjust color as needed */
  border-radius: 10px; /* for full rounding */
}

.pop_up h2{
  font-family: 'Oleo Script', cursive;
  
  font-weight: 400;
  text-align: center;
  margin: 0;
}